    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
  

    #navbarNavAltMarkup {
        background-color: #dfecf4;
        justify-content: flex-end;
        
    }
    .navbar-expand-lg{
        background-color: #dfecf4;
    }

    

    body container div   {
        text-align: justify;
        align-items: center;
        align-content: center;
        background-color: #29417c;
        color: white;
    }

    body container div p {
       margin-top: 10px;
        padding-top: 10px;
        font-size: 2;
        padding-left: 400px;
        padding-right: 400px
    }
    h2 {
        text-align: center;
        margin-top: 50px;
        padding-top: 80px;
        padding-bottom: 20px;
    }

    


    